@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');
.wrapper{
  font-family: 'Overpass', sans-serif;
  max-width: 300px;
  max-height: 375px;
  margin: auto;
 display: flex;
 flex-direction: column;
 background-color: hsl(213, 26%, 13%);
 padding: 30px;
 border-radius: 20px;
 margin-top: 15%;
}
h1{
  color: white;
  height: 15px;
}
p{
  font-size: 15px;
  color: hsl(217, 12%, 63%);
}
.image{
  max-width: 40px;
  min-height: 40px;
  background-color: hsl(219, 13%, 20%);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}
.image img{
  max-height: 15px;
  max-width: 20px;
}
.rating-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 25px;
  padding-top: 10px;
}
.ratings{
  color: hsl(217, 12%, 63%);
}
.rating-wrapper button{
  background-color: hsl(219, 13%, 20%);
  border: none;
  min-width: 40px;
  min-height: 40px;
  border-radius: 20px;
}
.rating-wrapper button:hover{
  background-color: hsl(216, 12%, 54%);
  color: white;
}
.submit{
background-color: hsl(25, 97%, 53%);
border: none;
height: 40px;
border-radius: 15px;
color: white;
}

.submit:hover{
  background-color: white;
  color: hsl(25, 97%, 53%);
}